fastapi
uvicorn[standard]
websockets
python-dotenv
openai
groq
pywin32
pyautogui
playwright
sounddevice
numpy
pypiwin32
feedparser
faster-whisper
chromadb
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
